@CHARSET "UTF-8";

/* Fix-up navbar overlapping content. */
body {
	padding-top: 90px; 
}

/* No padding between map top and bottom. */
.list-group-item {
	padding-top: 0px;
	padding-bottom: 0px;
}

/* Make badges centrally-aligned (or near to). */
.list-group-item>.badge {
  vertical-align:middle;
  margin-top:20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Prevent justified navs from stacking. */
@media (min-width: 0px) {

  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}

/* Move the back button left. */
.ppnavbar-left {
    float:left;
    margin-left:15px;
    padding:6px 10px;
}

/* Force menu to collapse. */
@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.pp-valign-centre {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Add padding to tab contents. */
.tab-pane {
    padding: 10px;
}

.nav-pills>li>a  {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #f8f8f8;
	color: #444;
}

.nav-pills>li>a {
	color: #777777;
}

.nav-justified>li>a {
	margin-bottom: 0px;
}

.nav-justified li.active a {
	border-bottom-color: #dd9933!important;
}

.nav-justified li a {
font-size: 18px;
display: block;
padding: 8px 0;
margin-bottom: -3px;
border-bottom: 3px solid transparent;
}


.ppnavbar-left {
	color: #777777;
}

.dropdown-menu {
/*	top: 0; */
	right: 100%
}



.bimbler-badge a i
 { font-size: 30px;}

  
/* make sure the element has position: relative */
[data-notifications] {
  position: relative;
}

/* append the notification badge after it */
[data-notifications]:after {

  /* the burger */
  content: attr(data-notifications);

  /* the fries */
  position: absolute;
  background: #dd9933;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3em;
  color: #f2f2f2;
  left: 60%;
  top: 2px; 
  font-size: 10px;  

  min-width: 20px;
  line-height: 12px;
}

.avatar-clipped {
	width: 80px;
	height: 80px;
	background-position: center;
	
	/* Make the background image cover the area of the <div>, and clip the excess */
	background-size: cover;
	
/* If we want rounded avatars, uncomment the three lines below. */
/* 	
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
*/
}




/* Nested lists. */
/**
 * Nestable
 */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dd-list .dd-list {
  padding-left: 30px;
}
.dd-collapsed .dd-list {
  display: none;
}
.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}
.dd-handle,
.dd-content {
  display: block;
  margin: 0px 0px;
  padding: 0px 0px;
  background: #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none; /* 1px solid #ebebeb; */
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
dd-content,
.dd-content:hover {
  background: #fff;
}
.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: visible;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  outline: 0;
}
.dd-item > button:after {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  top: -5px;
  bottom: -6px;
  width: 1px;
  background: #ebebeb;
}
.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}
.dd-item > button[data-action="collapse"]:before {
  content: '-';
}
.dd-placeholder,
.dd-empty {
  margin: 0px 0;
  padding: 0;
  min-height: 30px;
  background: rgba(245, 245, 246, 0.3);
  border: 1px dotted #ebebeb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
}
.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.dd-dragel > .dd-item .dd-handle,
.dd-dragel > .dd-item .dd-content {
  margin-top: 0;
}
.dd-dragel .dd-handle,
.dd-dragel .dd-content {
  -moz-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.nested-list.with-margins .dd-item .dd-handle,
.nested-list.with-margins .dd-item .dd-content {
  margin: 5px 0;
}
.nested-list.custom-drag-button .dd-handle {
  position: absolute !important;
  margin: 0 !important;
  width: 15px;
  height: 32px;
  padding-left: 5px;
  padding-right: 4px;
  cursor: pointer;
  padding-top: 7px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nested-list.custom-drag-button .dd-handle span {
  display: block;
  line-height: 3px;
  color: rgba(115, 120, 129, 0.7);
}
.nested-list.custom-drag-button .dd-content {
  padding-left: 25px;
}
.nested-list.custom-drag-button button + .dd-handle {
  left: 24px;
}
.nested-list.custom-drag-button button + .dd-handle + .dd-content {
  padding-left: 50px;
}
.nested-list.custom-drag-button.drag-button-on-hover .dd-item > .dd-handle {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.nested-list.custom-drag-button.drag-button-on-hover .dd-item:hover > .dd-handle {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}
.custom-handler .dd-item .dd-handle {
  position: absolute !important;
  margin: 0 !important;
  width: 15px;
  height: 32px;
  padding-left: 5px;
  padding-right: 4px;
  cursor: pointer;
  padding-top: 7px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.custom-handler .dd-item .dd-handle span {
  display: block;
  line-height: 3px;
  color: rgba(115, 120, 129, 0.7);
}
.custom-handler .dd-item .dd-content {
  padding-left: 25px;
}
.custom-handler .dd-item button + .dd-handle {
  left: 24px;
}
.custom-handler .dd-item button + .dd-handle + .dd-content {
  padding-left: 50px;
}
/* End Nested lists. */


/* Make badges the Bimbler orange. */
.badge {
	background-color: #dd9933 ! important;
}



/* Checkin indicators. */

.rsvp-checkin-indicator-no i,
.rsvp-checkin-indicator-none i,
.rsvp-checkin-indicator-yes i,
.rsvp-checkin-indicator-wait i {
  position: relative; 
  top: -87px; 
  left: 60%;
	font-size: 250%;
 	font-family: FontAwesome;
 	font-style: normal;
	z-index: 100;
} 

.rsvp-checkin-indicator-yes i {
	color: green;
} 

.rsvp-checkin-indicator-no i {
	color: red;
} 

.rsvp-checkin-indicator-none i {
	color: grey;
} 

.rsvp-checkin-indicator-wait i {
	color: black;
} 


.rsvp-indicator-yes i,
.rsvp-indicator-no i,
.rsvp-indicator-none i {
	position: relative; 
   	top: -58px; 
   	left: 38px; 
	font-size: 150%;
 	font-family: FontAwesome;
	z-index: 99;
} 

.rsvp-indicator-yes i {
	color: green;
} 

.rsvp-indicator-no i {
	color: red;
} 

.rsvp-indicator-none i {
	color: grey;
} 

.rsvp-checkin-indicator-yes {
	color: green;
	content: "\f058" !important; /*  fa-check-circle [&#xf058;] */ 
} 
.rsvp-checkin-indicator-no {
	color: red;
	content: "\f057" !important; /* fa-times-circle [&#xf057;] */
} 
.rsvp-checkin-indicator-none {
	color: gray;
} 

.rsvp-checkin-indicator p {
	position: absolute; 
  top: 50px; 
  left: 0; 
  width: 100%; 
	font-size: 250%;
	color: red;
 	font-family: FontAwesome;
/* 	text-color: #ffffff !important; */ /* TODO: invalid propery. */ 
 	text-decoration:  solid rgb(255, 0, 0);
	z-index: 99;
	height: 100px;
} 

/* End checkin indicators. */


/* Avatar */

#AvatarList {	
  display: block;
  width: 980px;
  margin: 50px auto;
}

#AvatarList h2 {
  color: #000;
}

#AvatarList ul {
  vertical-align: text-top;
}

#AvatarList ul li{
  display:inline-block;
  width:80px;
  height: 80px;
  margin: 0px 30px 40px 0;
  position:relative;
  vertical-align: text-top;
  text-align: top;
}

#AvatarList ul li .permalink {
  display: none;
  background: transparent;
}

#AvatarList ul li:hover .permalink{
  display:block;
  position:absolute;
  z-index:5;
  left:0px;
  top:0px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor:pointer;
}
  
#AvatarList ul li img {
  width:80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
	
#AvatarList ul li p{
  line-height: 18px;
  max-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  text-align: center;
}

#AvatarListSide {	
  display: block;
  margin: 0px auto;
}

#AvatarListSide h2 {
  color: #000;
}

#AvatarListSide ul {
  vertical-align: text-top;
  margin-left: 0px !important;
  padding-left: 0px;
}

#AvatarListSide ul li{
  display:inline-block;
  width:90px;
  margin: 0px 0px 10px 0; /* Old. Top, right, bottom, left */
  position:relative;
  vertical-align: text-top;
  text-align: top;
  
  border-bottom: none;
  
  padding-left: 10px !important;
  padding-right: 10px !important;
}

#AvatarListSide ul li .permalink {
  display: none;
  background: transparent;
}

#AvatarListSide ul li:hover .permalink{
  display:block;
  position:absolute;
  z-index:5;
  left:0px;
  top:0px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor:pointer;
}
#AvatarListSide ul li img {
  width:80px;
  height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
	
#AvatarListSide ul li p{
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


.avatar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: block;
  margin: 0 0 10px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.bimbler-avatar-narrow {
        padding-left: 25px !important;
}

/* End Avatar */


/* Notification boxes. */
.bimbler-alert-box {
		color:#555;
		border-radius:10px;
		padding:10px 36px;
		margin:10px;
	}
.bimbler-alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}
.error {
	background:#ffecec url('/wp-content/plugins/bimbler-rsvp/images/error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}
.success {
	background:#e9ffd9 url('/wp-content/plugins/bimbler-rsvp/images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
}
.warning {
	background:#fff8c4 url('/wp-content/plugins/bimbler-rsvp/images/warning.png') no-repeat 10px 50%;
	border:1px solid #f2c779;
}
.notice {
	background:#e3f7fc url('/wp-content/plugins/bimbler-rsvp/images/notice.png') no-repeat 10px 50%;
	border:1px solid #8ed9f6;
} 
/* End notification boxes. */

nav #bs-example-navbar-collapse-1 a {
	font-size: 18px;
}

/* Swiper */
/*
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}*/



.ks-demo-slider .swiper-slide,
.ks-carousel-slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
}
.ks-carousel-slider .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
}
.ks-carousel-slider.ks-carousel-slider-auto .swiper-slide {
  width: 85%;
}
.ks-carousel-slider.ks-carousel-slider-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}
.ks-carousel-slider.ks-carousel-slider-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}
.page[data-page="swiper-multiple"] .swiper-container {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}
.ks-slider-custom {
  height: 100%;
}
.ks-slider-custom .swiper-container {
  background: #000;
  height: 100%;
}
.ks-slider-custom .swiper-slide {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.ks-slider-custom .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  border-radius: 0;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  position: relative;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.ks-slider-custom .swiper-pagination .swiper-pagination-bullet-active {
  z-index: 1;
  border: 1px solid #007aff;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}
.ks-cube-slider {
  width: 80%;
  height: 70%;
  top: 15%;
}
.ks-coverflow-slider {
  height: 60%;
  top: 20%;
}
.ks-coverflow-slider .swiper-slide {
  width: 65%;
}
.ks-cube-slider .swiper-slide,
.ks-coverflow-slider .swiper-slide {
  background-size: cover;
  color: #fff;
  -webkit-backface-visibility: hidden;
}
.ks-fade-slider .swiper-slide {
  background-size: cover;
  background-position: center;
}
.page[data-page="swiper-gallery"] {
  background: #000;
}
.ks-swiper-gallery-top {
  height: 70%;
}
.ks-swiper-gallery-thumbs {
  margin-top: 10px;
  height: 20%;
  height: -webkit-calc(30% - 20px);
  height: -moz-calc(30% - 20px);
  height: -ms-calc(30% - 20px);
  height: calc(30% - 20px);
}
.ks-swiper-gallery-thumbs .swiper-slide {
  width: 25%;
}
.ks-swiper-gallery-thumbs .swiper-slide-pic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  -webkit-transition: 300ms;
}
.ks-swiper-gallery-thumbs .swiper-slide-active .swiper-slide-pic {
  opacity: 1;
}
.ks-swiper-gallery-top .swiper-slide,
.ks-swiper-gallery-thumbs .swiper-slide,
.ks-swiper-gallery-top .swiper-slide-pic,
.ks-swiper-gallery-thumbs .swiper-slide-pic {
/*  -webkit-background-size: cover;
  background-size: cover; */
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.ks-parallax-slider {
  height: 100%;
}
.ks-parallax-slider .swiper-parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.ks-parallax-slider .swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  color: #fff;
}
.ks-parallax-slider .swiper-slide-title {
  font-size: 41px;
  font-weight: 300;
}
.ks-parallax-slider .swiper-slide-subtitle {
  font-size: 21px;
}
.ks-parallax-slider .swiper-slide-text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.ks-lazy-slider {
  height: 100%;
}
.ks-lazy-slider .swiper-slide {
  position: relative;
}
.ks-lazy-slider .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*.swiper-container {
    width: 100%;
    height: 100%;
}*/


.swiper-pagination-white .swiper-pagination-bullet-active {
  border-width: 1px;
  border-color: #000;
}


/* === Messages === */
.messages-content {
  background: #fff;
}
.messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.messages-date {
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  margin: 10px 15px;
  color: #8e8e93;
}
html.ios-gt-8 .messages-date {
  font-weight: 600;
}
.messages-date span {
  font-weight: 400;
}
.message {
  box-sizing: border-box;
  margin: 1px 10px 0;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.message:first-child {
  margin-top: 10px;
}
.message .message-text {
  box-sizing: border-box;
  border-radius: 16px;
  padding: 6px 16px 9px;
  min-width: 48px;
  min-height: 35px;
  font-size: 17px;
  line-height: 1.2;
  word-break: break-word;
}
.message.message-pic .message-text {
  padding: 0;
  background: none;
}
.message.message-pic img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 16px;
}
.message-name {
  font-size: 12px;
  line-height: 1;
  color: #8e8e93;
  margin-bottom: 2px;
  margin-top: 7px;
}
.message-hide-name .message-name {
  display: none;
}
.message-label {
  font-size: 12px;
  line-height: 1;
  color: #8e8e93;
  margin-top: 4px;
}
.message-hide-label .message-label {
  display: none;
}
.message-avatar {
  width: 29px;
  height: 29px;
  border-radius: 100%;
  margin-top: -29px;
  position: relative;
  top: 1px;
  background-size: cover;
  opacity: 1;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.message-hide-avatar .message-avatar {
  opacity: 0;
}
.message-sent {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.message-sent .message-name {
  margin-right: 16px;
}
.message-sent .message-label {
  margin-right: 6px;
}
.message-sent.message-with-avatar .message-text {
  margin-right: 29px;
}
.message-sent.message-with-avatar .message-name {
  margin-right: 45px;
}
.message-sent.message-with-avatar .message-label {
  margin-right: 34px;
}
.message-sent .message-text {
  padding-right: 22px;
  background-color: #00d449;
  color: white;
  margin-left: auto;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m84 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 56% 46% 42%;
}
.message-sent.message-last .message-text,
.message-sent.message-with-tail .message-text {
  border-radius: 16px 16px 0 16px;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m84 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/><path d='m96 70c-6-2-12-10-12-19v-16l-14 27s8 8 26 8z'/></svg>") 50% 56% 46% 42%;
}
.message-sent.message-last.message-pic img,
.message-sent.message-with-tail.message-pic img {
  border-radius: 16px 16px 0 16px;
}
.message-received {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.message-received .message-text {
  padding-left: 22px;
  background-color: #e5e5ea;
  color: #000;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/></svg>") 50% 42% 46% 56%;
}
.message-received .message-name {
  margin-left: 16px;
}
.message-received .message-label {
  margin-left: 6px;
}
.message-received.message-with-avatar .message-text {
  margin-left: 29px;
}
.message-received.message-with-avatar .message-name {
  margin-left: 45px;
}
.message-received.message-with-avatar .message-label {
  margin-left: 34px;
}
.message-received.message-last .message-text,
.message-received.message-with-tail .message-text {
  border-radius: 16px 16px 16px 0;
  -webkit-mask-box-image: url("data:image/svg+xml;charset=utf-8,<svg height='35' viewBox='0 0 96 70' width='48' xmlns='http://www.w3.org/2000/svg'><path d='m96 35c1 7-5 37-42 35-37 2-43-28-42-35-1-7 5-37 42-35 37-2 43 28 42 35z'/><path d='m0 70c6-2 12-10 12-19v-16l14 27s-8 8-26 8z'/></svg>") 50% 42% 46% 56%;
}
.message-received.message-last.message-pic img,
.message-received.message-with-tail.message-pic img {
  border-radius: 16px 16px 16px 0;
}
.message-last {
  margin-bottom: 8px;
}
.message-appear-from-bottom {
  -webkit-animation: messageAppearFromBottom 400ms;
  animation: messageAppearFromBottom 400ms;
}
.message-appear-from-top {
  -webkit-animation: messageAppearFromTop 400ms;
  animation: messageAppearFromTop 400ms;
}
.messages-auto-layout .message-name,
.messages-auto-layout .message-label {
  display: none;
}
.messages-auto-layout .message-avatar {
  opacity: 0;
}
.messages-auto-layout .message-first .message-name {
  display: block;
}
.messages-auto-layout .message-last .message-avatar {
  opacity: 1;
}
.messages-auto-layout .message-last .message-label {
  display: block;
}


.message-hidden {
  display: none;
}


html.retina.ios-6 .message,
html.retina.ios-6 .message.message-pic img {
  -webkit-mask-box-image: none;
  border-radius: 16px;
}
@-webkit-keyframes messageAppearFromBottom {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromBottom {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes messageAppearFromTop {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes messageAppearFromTop {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}


/* === Message Bar === */
.messagebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.messagebar textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c8c8cd;
  background: #fff;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  padding: 3px 8px 3px;
  margin: 0;
  width: 100%;
  height: 28px;
  color: #000;
  font-size: 17px;
  line-height: 20px;
  font-family: inherit;
  resize: none;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
}
.messagebar .link {
  -ms-flex-item-align: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.messagebar .link.icon-only:first-child {
  margin-left: -6px;
}
.messagebar .link:not(.icon-only) + textarea {
  margin-left: 8px;
}
.messagebar textarea + .link {
  margin-left: 8px;
}
.messagebar .link {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}
.messagebar ~ .page-content {
  padding-bottom: 44px;
}
.page.no-toolbar .messagebar ~ .page-content {
  padding-bottom: 44px;
}
.hidden-toolbar .messagebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}



/* === Toolbars === */
.toolbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.toolbar {
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  position: relative;
  margin: 0;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.toolbar b {
  font-weight: 500;
}
html.ios-gt-8 .navbar b,
html.ios-gt-8 .toolbar b {
  font-weight: 600;
}
.toolbar,
 {
  background: #f7f7f8;
}
.toolbar a.link {
  line-height: 44px;
  height: 44px;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
html:not(.watch-active-state) .toolbar a.link:active,
.toolbar a.link.active-state {
  opacity: 0.3;
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
}
.toolbar a.link i + span,
.toolbar a.link i + i,
.toolbar a.link span + i,
.toolbar a.link span + span {
  margin-left: 7px;
}

.toolbar a.icon-only,
.subnavbar a.icon-only {
  min-width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
}
.toolbar i.icon,
.subnavbar i.icon {
  display: block;
}







